:root{
    --primary-color:#ffffff;
    --secondary-color:#f4a261;
    --acccent1-color:#1f3c5e;
    --accent2-color:#ffffff;
    --heading-font:"Times New Roman","Georgia", Serif;
    --body-font:Arial,Helvetica,Sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--body-font);
    color:var(--acccent1-color)
}

header, main,footer{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}
.hero{
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--acccent1-color);
    color: #fff;
}
.hero article{
    position: absolute;
    bottom: 0;
    background-color: var(--acccent1-color);
    opacity: 0.7;
    left: -16px;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}
.hero article p{
    color: var(--primary-color);
    text-align: center;
    font-size: 20px;
}
.hero article img{
    float: right;
    width: 145px;
}
h2{
    text-align: center;
    background-color: var(--acccent1-color);
    opacity: 0.8;
    padding: 10px;
}
h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav,p,section,article{
    margin: 16px;
    padding: 2px;
}
section{
    width: 100%;
    margin-left: 0;
}
section p{
    /* text-align: center; */
}
.socialmeia a{
    text-decoration: none;
}

.social_media img{
    width: 50px;
}