:root{
    --primary-color:#ffffff;
    /* --secondary-color:#f4a261; */
    --acccent1-color:#1f3c5e;
    --accent2-color:#ffffff;
    --heading-font:"Times New Roman","Georgia", Serif;
    --body-font:Arial,Helvetica,Sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--body-font);
    color:var(--acccent1-color)
}

header, main,footer{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}
header{
    display: grid ;
    grid-template-columns: 1fr 100%;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;
}
.logo{
    width: 100px;
}
.logo img{
    width: 100px;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
header nav ul a{
    text-decoration: none;
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
    color: var(--acccent1-color);
    cursor: pointer;
}
.hero{
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--acccent1-color);
    color: #fff;
}
.hero article{
    position: absolute;
    bottom: 0;
    background-color: var(--acccent1-color);
    opacity: 0.7;
    left: -16px;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}
.hero article p{
    color: var(--primary-color);
    text-align: center;
    font-size: 20px;
}
.hero article img{
    float: right;
    width: 145px;
}
h2{
    text-align: center;
    background-color: var(--acccent1-color);
    opacity: 0.8;
    padding: 10px;
    margin-bottom: 10px;
}
h1, h2{
    font-family: var(--heading-font);
    color: var(--accent2-color);
}
nav,p,section,article{
    margin: 16px;
    padding: 2px;
}
section{
    width: 100%;
    margin-left: 0;
}
.history{
    display: flex;
}
.history img{
    height: auto;
    width: 200px;
}
section p{
    /* text-align: center; */
}

.adventure{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
figure img{
    width: 200px;
    height: auto;
}
figure figcaption{
    padding: 5px;
    color: #1f3c5e;
    font-weight: 400;
    font-size: smaller;
}

.socialmedia img{
    width: 30px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialmedia{
    /* float: right; */
    margin-left: 50px;
}
.socialmedia a{
    text-decoration: none;
}