main{
     max-width:840px ;
     
}
main img{
    width:150px ;
    height: auto;
}
aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid  #000;
    padding: 10px;
    background-color: #eee;
    color: #333;
    
}
aside img{
    width: 200px;
    height: auto;
}
p{
    padding: 0;
}



footer{
    margin-top: 110px;
    border-top: 2px solid #5e5353;
    text-align: center;
}